FORMAT: 1A
HOST: https://api.netbanx.com/cardpayments/v1/

# NETBANX Card Payments API 

# Overview

Connect your application directly with our payment engine to process a full suite of methods that are REST-based – designed to be easy to understand and use. Ultimate control puts you in the driver’s seat.
* Choose an efficient, lightweight, and fast integration method to access our API.
* Implement a wide variety of REST-based API requests - including purchases, refunds, and authorization reversals.
* Obtain output in JSON format – it’s easy to parse in a large variety of Web and mobile applications.
* Use any language or platform to make requests through standard HTTP protocols.

<a name="apikey" /a>
# Authentication 
In order for you to use the NETBANX REST API, NETBANX must first set you up on their system
and provide you with an API key. Your API key looks something like this:
 * Key ID – MerchantXYZ
 * Key Password – B-tst1-0-51ed39e4-312d02345d3f123120881dff9bb4020a89e8ac44cdfdcecd702151182fdc952272661d290ab2e5849e31bb03deede7e

The case-sensitive API key is sent using HTTP Basic Authentication. To use HTTP Basic Authentication, you must send the API key credentials using the Authorization header with every request. The Authorization header is constructed as follows:
 1. The Key ID and Key Password are combined into a string separated by a colon, e.g.,“Key ID:Key Password”.
 2. The resulting string literal is then encoded using Base64.
 3. The authorization method and a space (i.e., “Basic”) are then put before the encoded string.

For example, using the Key ID and Password examples above, the header is formed as follows:

``Authorization: Basic
TWVyY2hhbnRYWVo6Qi10c3QxLTAtNTFlZDM5ZTQtMzEyZDAyMzQ1ZDNmMTIzMTIwODgxZGZmOWJiNDAyMGE4OWU4YWM0NGNkZmRjZWNkNzAyMTUxMTgyZmRjOTU yMjcyNjYxZDI5MGFiMmU1ODQ5ZTMxYmIwM2RlZWRlN2U=``

For additional details, please refer to [http://en.wikipedia.org/wiki/Basic_access_authentication](http://en.wikipedia.org/wiki/Basic_access_authentication).

**Note:** Your Production API key will be different from your Test API key. Contact your account manager for details. You must keep your API keys safe and ensure that it is used appropriately for your needs.

# URLs 

##  Test URL
In order to test your integration with NETBANX, use the following Test URL:

`https://api.test.netbanx.com`

For example:

`https://api.test.netbanx.com/cardpayments/v1/accounts/{ACCOUNT_ID}`

## Production URL
In order to process live requests with NETBANX, use the following Production URL:

`https://api.netbanx.com`

For example:

`https://api.netbanx.com/cardpayments/v1/accounts/{ACCOUNT_ID}`


# Pagination

In the case where an API GET request returns multiple results, NETBANX returns the first 10 records by default and uses HATEOAS links to provide page navigation. In addition to the default behavior, it is also possible to control the number of results and starting point by passing in query parameters as follows:

## Query Parameters for Pagination


| Name      | Description                                                                           |
|-----------|---------------------------------------------------------------------------------------|
| limit     | This is the total number of records to  return. Default value is 10. Max value is 50. |
| offset    | This is the starting position, where 0 is the first record. Default value is 0.       |
| startDate | This is the start date in UTC. Default value is 30 days before the endDate.           |
| endDate   | This is the end date in UTC. Default value is the current date and time.              |


# Global Invalid Characters

You must not include any of the characters in the following table as values in any of your request parameters. If you do, your request will result in an error.

|    Character    |    HEX    |    Description                     |
|-----------------|-----------|------------------------------------|
| "               | 22        | Double quotes (or speech marks)    |
| ;               | 3B        | Semicolon                          |
| ^               | 5E        | Caret, circumflex                  |
| *               | 2A        | Asterisk                           |
| <               | 3C        | Less than (or open angled bracket) |
| /               | 2F        | Slash or divide                    |
| [               | 5B        | Opening bracket                    |
| ]               | 5D        | Closing bracket                    |
| \               | 5C        | Backslash                          |

# API 

The card API allows merchants to process credit card transactions using the REST protocol. The protocol uses JSON for all requests and responses.

The following request types are supported:

  * [Authorizations](#auths)
  * [Authorization Reversals](#voidauths)
  * [Settlements](#settlements)
  * [Refunds](#refunds)
  * [Verifications](#verifications)
  * [Original Credits](#originalcredits)
  * [Standalone Credits](#standalonecredits)
  
**API Endpoint:** `https://api.netbanx.com/cardpayments/v1/accounts/{ACCOUNT_ID}`  

**Resource Patterns**

|Endpoint URL                                   |Description                            |Action |
|---                                            |---                                    |---    |
|/auths                                         |Submit an Authorization or Purchase    |POST   |
|/auths/{AUTH_ID}                               |Look Up an Authorization               |GET    |
|/auths/{AUTH_ID}                               |Update an Authorization                |PUT    |
|/auths/{AUTH_ID}/voidauths                     |Reverse an Authorization               |POST   |
|/voidauths/{VOID_AUTH_ID}                      |Look Up an Authorization Reversal      |GET    |
|/auths/{AUTH_ID}/settlements                   |Settle an Authorization                |POST   |
|/settlements/{SETTLEMENT_ID}                   |Look Up a Settlement                   |GET    |
|/settlements/{SETTLEMENT_ID}                   |Cancel a Settlement                    |PUT    |
|/settlements/{SETTLEMENT_ID}/refunds           |Submit a Refund                        |POST   |
|/refunds/{REFUND_ID}                           |Look Up a Refund                       |GET    |
|/refunds/{REFUND_ID}                           |Cancel a Refund                        |PUT    |
|/verifications                                 |Verify a Card                          |POST   |
|/verifications/{VERIFICATION_ID}               |Look Up a Verification                 |GET    |
|/originalcredits                               |Submit an Original Credit              |POST   |
|/originalcredits/{ORIGINAL_CREDIT_ID}          |Look Up an Original Credit             |GET    |
|/originalcredits/{ORIGINAL_CREDIT_ID}          |Cancel an Original Credit              |PUT    |
|/standalonecredits                             |Submit a Standalone Credit             |POST   |
|/standalonecredits/{STANDALONE_CREDIT_ID}      |Look Up a Standalone Credit            |GET    |
|/standalonecredits/{STANDALONE_CREDIT_ID}      |Cancel a Standalone Credit             |PUT    |




# Getting Started

This section outlines some common scenarios for making payments. To get started you must first sign up for a test account and get an API key.

All examples in this section use cURL, which is a command line tool for transferring data using protocols such as HTTPS.

## Verify That the Service Is Accessible

The following request verifies that the service is up and accessible from your network.

Request:

`curl -X GET https://api.test.netbanx.com/cardpayments/monitor`

Response:

`{
"status" : "READY"
}`

**Note:** The system should respond with a status of READY if it is available.


## Process a Purchase

The request verifies that the customer's account is valid and that sufficient funds are available to cover the transaction's cost. The funds are "held" and deducted from the customer's credit limit (or bank balance, in the case of a debit card) but are not yet transferred to the merchant. At the end of the day, NETBANX submits the PENDING settlements to the acquirer in a "batch transfer," which begins the settlement process.

The funds are transferred from the customer's accounts to the merchant's accounts and the transaction may not appear on the customer's statement or online account activity for one to two days, and it can take up to three business days for funds to be deposited in the merchant's account.
 
To process a purchase, you must initiate a POST request to the auths endpoint. By default, an amount is authorized on the card and a subsequent settlement request would be required to actually charge the customer. So by setting the flag *settleWithAuth* to true, the card processing system will automatically charge the card as part of the same request. If you are shipping physical items, you should not perform the settlement until the items are actually shipped.

**Note:** Optionally, you can [validate a card](#verifications) prior to processing a purchase.

            curl -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d ' {
                     "merchantRefNum" : "demo-1",
                     "amount" : 10098,
                     "settleWithAuth":true,
                     "card" : {
                       "cardNum" : "4111111111111111",
                       "cardExpiry":{
                         "month":2,
                         "year":2017
                        },
                        "cvv":123
                      },
                      "billingDetails":{
                         "street":"100 Queen Street West",
                         "city":"Toronto",
                         "state":"ON",              
                         "country":"CA",
                         "zip":"M5H 2N2"
                      }
                    } '
                    
**Note:** By default the card processing system will check for duplicate transactions. Prior to trying the example, you should:

  * Provide a unique merchant reference number for each transaction.
  * Replace the account number (89987201) in the URL with the test account number you received.
  * Replace the [API key](#apikey) (after the -u) with the API key you have received.

**Purchase Response**

            {
              "links":[
                {
                  "rel":"self",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/ebf6ae3d-88e1-40da-9b98-81044467345b"
                },
                {
                  "rel":"settlement",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/ebf6ae3d-88e1-40da-9b98-81044467345b"
                },
            
            
             ],
              "id":"ebf6ae3d-88e1-40da-9b98-81044467345b",
              "merchantRefNum":"demo-1",
              "txnTime":"2014-05-01T14:52:35Z",
              "status":"COMPLETED",
              "amount":10098,
              "settleWithAuth":true,
              "availableToSettle":0,
              "card":{
                "type":"VI",
                "lastDigits":"1111",
                "cardExpiry":{
                  "month":2,
                  "year":2017
                }
              },
              "authCode":"114974",
              "billingDetails":{
                "street":"100 Queen Street West",
                "city":"Toronto",
                "state":"ON",
                "country":"CA",
                "zip":"M5H2N2"
              },
              "merchantDescriptor":{
                "dynamicDescriptor":"Test",
                "phone":"123-1234123"
              },
              "currencyCode":"CAD",
              "avsResponse":"MATCH",
              "settlement" : {
                "links": [        
                  {
                    "rel": "self",
                    "href": "https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/ebf6ae3d-88e1-40da-9b98-81044467345b"
                  }
                ],
                "id": "ebf6ae3d-88e1-40da-9b98-81044467345b",
                "merchantRefNum": "demo-1",
                "txnTime": "2014-05-01T14:52:35Z",
                "status": "PENDING",
                "amount": 10098,
                "availableToRefund": 0
              }
             }

**Purchase Message Sequence**

![](https://github.com/paysafegroup/paysafe_api_cardpayments_v1/raw/master/images/Purchase_Message_Sequence.png)

## Process an Authorization Followed by a Settlement

The authorization verifies that the customer's credit card account is valid and that sufficient funds are available to cover the transaction.

  * With the auth request, the funds are held and deducted from the customer's credit card limit (or bank balance, in the case of a debit card) but are not transferred to the merchant's account until the merchant settles (or clears) the transaction.
  * For debit cards, auth holds can expire (thus rendering the balance available again) anywhere from 1–5 days after the transaction date, depending on the bank's policy.
  * For credit cards, auth holds may last as long as 30 days, depending on the issuing bank.

**Process an Authorization**

To process an authorization, you must initiate a POST request to the auths endpoint.
An amount is authorized (balance is held) on the card and a subsequent settlement request will be required to charge the customer and initiate transfer of funds to the merchant.

            curl -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d ' {
                     "merchantRefNum" : "authonlydemo-1",
                     "amount" : 10098,
                     "card" : {
                       "cardNum" : "4111111111111111",
                       "cardExpiry":{
                         "month":2,
                         "year":2017
                        }
                      },
                      "billingDetails":{
                         "street":"100 Queen Street West",
                         "city":"Toronto",
                         "state":"ON",              
                         "country":"CA",
                         "zip":"M5H 2N2"
                      }
                    } '
            
**Authorization Response**

            {
              "links":[
                {
                  "rel":"self",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/6ce78961-5989-4c4b-ad68-5f5af506143e"
                }
              ],
              "id":"6ce78961-5989-4c4b-ad68-5f5af506143e",
              "merchantRefNum":"authonlydemo-1",
              "txnTime":"2014-05-05T12:28:20Z",
              "status":"COMPLETED",
              "amount":10098,
              "availableToSettle":10098,
              "card":{
                "type":"VI",
                "lastDigits":"1111",
                "cardExpiry":{
                  "month":2,
                  "year":2017
                }
              },
              "authCode":"118428",
              "billingDetails":{
                "street":"100 Queen Street West",
                "city":"Toronto",
                "state":"ON",
                "country":"CA",
                "zip":"M5H2N2"
              },
              "merchantDescriptor":{
                "dynamicDescriptor":"Test",
                "phone":"123-1234123"
              },
              "currencyCode":"CAD",
              "avsResponse":"MATCH"
            }

**Authorization and Settlement Message Sequence**

![](https://github.com/paysafegroup/paysafe_api_cardpayments_v1/raw/master/images/Settlement_Message_Sequence.png)

**Process a Settlement**

To process a settlement, you must refer to the original authorization ID and POST your request to the settlement endpoint.

Prior to trying the example, you should:

  * Replace the account number (89987201) in the URL with the test account number you received.
  * Replace the [API key](#apikey) (after the -u) with the API key you have received.
  
            curl -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/6ce78961-5989-4c4b-ad68-5f5af506143e/settlements \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d ' {
                     "merchantRefNum" : "settlementonlydemo-1"
                   }'

**Note:** If you do not specify an amount for settlement, the entire amount remaining on the authorization will be settled by default.

**Settlement Response**

            {
              "links":[
                {
                  "rel":"self",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/0fd73475-9837-4613-8464-355a3a99b8bb"
                }
              ],
              "id":"0fd73475-9837-4613-8464-355a3a99b8bb",
              "merchantRefNum":"settlementonlydemo-1",
              "txnTime":"2014-05-05T13:09:47Z",
              "status":"PENDING",
              "amount":10098,
              "availableToRefund":10098
            } 
            
**Note:**  A pending settlement is created. For most account configurations, the settlement remains pending until it is batched at the end of the day. You can cancel a settlement while it has the status of Pending, in which case the customer is not charged. However, after the settlement has been batched, you cannot cancel it, and you will need to [issue a refund](#refunds).

## Cancel a Pending Settlement

The following request cancels the settlement.

            curl -X PUT https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/0fd73475-9837-4613-8464-355a3a99b8bb \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d  ' {
                       "status" : "CANCELLED"
                    } '
                    
Prior to trying the example, you should:

  * Replace the account number (89987201) in the URL with the test account number you received.
  * Replace the [API key](#apikey) (after the -u) with the API key you have received.  

Depending on your account configuration, the amount held on the customer's card may or may not be immediately released. Please contact your account manager for details.

**Response**

            {
              "links":[
                {
                  "rel":"self",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/0fd73475-9837-4613-8464-355a3a99b8bb"
                }
              ],
              "id":"0fd73475-9837-4613-8464-355a3a99b8bb",
              "txnTime":"2014-05-05T13:30:44Z",
              "status":"CANCELLED"
            }

## Look Up an Authorization

You can look up an existing authorization transaction by providing the account number and transaction ID in the URL as follows: 

            curl -X GET https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/ebf6ae3d-88e1-40da-9b98-81044467345b \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json'

Prior to trying the example, you should:

  * Replace the account number (89987201) in the URL with the test account number you received.
  * Replace the [API key](#apikey) (after the -u) with the API key you have received.  

You can look up transactions using a transaction ID to a maximum of one year in the past.

If you do not have a transaction ID, you can look up a transaction based on the merchantRefNum you supplied with the original request:

            curl -X GET https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths?merchantRefNum=demo-1 \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json'

## Validate a Credit Card

This request verifies that the customer's card is valid, but without actually charging any amount on the card. You may want to verify a credit card, for example, before adding it to a customer profile for future billing transactions.

To process a Verification, you must initiate a POST request to the verifications endpoint. 

            curl -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/verifications \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d ' {
                    "merchantRefNum": "merchant ABC-444",
                    "card": {
                        "cardNum": "4111111111111111",
                        "cardExpiry": {
                            "month": 2,
                            "year": 2017
                        },
                        "cvv": "123"
                    },
                    "profile": {
                        "firstName": "Joe",
                        "lastName": "Smith",
                        "email": "Joe.Smith@canada.com"
                    },
                    "billingDetails": {
                        "street": "100 Queen Street West",
                        "city": "Toronto",
                        "state": "ON",
                        "country": "CA",
                        "zip": "M5H2N2"
                    },
                    "customerIp": "204.91.0.12",
                    "description": "This is a test transaction"
                    } '

**Note:** By default the card processing system will check for duplicate transactions. Prior to trying the example, you should:

  * Provide a unique merchant reference number for each transaction.
  * Replace the account number (89987201) in the URL with the test account number you received.
  * Replace the [API key](#apikey) (after the -u) with the API key you have received.
  
You will receive a response like the following:

            {
              "links":[
                {
                  "rel":"self",
                  "href":"https://api.netbanx.com/cardpayments/v1/accounts/99000/verifications/e50e19a6-8edd-44ec-abc4-18d0a97d51d8"
                }
              ],
              "id":"e50e19a6-8edd-44ec-abc4-18d0a97d51d8",
              "merchantRefNum":"merchant ABC-444",
              "card":{
                "type":"VI",
                "lastDigits":"1111",
                "cardExpiry":{
                  "month":2,
                  "year":2017
                }
              },
              "authCode":"026189",
              "profile":{
                "firstName":"Joe",
                "lastName":"Smith",
                "email":"Joe.Smith@canada.com"
              },
              "billingDetails":{
                "street":"100 Queen Street West",
                "city":"Toronto",
                "state":"ON",
                "country":"CA",
                "zip":"M5H 2N2"
              },
              "customerIp":"204.91.0.12",
              "description":"This is a test transaction",
              "txnTime":"2013-12-14T15:12:18Z",
              "currencyCode":"USD",
              "avsResponse":"MATCH",
              "cvvVerification":"MATCH",
              "status":"COMPLETED"
            }
            
# Testing Instructions

The NETBANX Test environment can be used to test websites or applications without actually running transactions through the payment processing engine. It is important to make sure that your systems are working correctly before going into a live environment.

**Note:** Card transactions processed in the Test environment are not sent to the banking network, but through a simulator. Depending on the information provided with the transaction request, the simulator returns either a successful (approved) or failed (declined) response.

With the NETBANX Card Payments API you can test the following:

  * Verify support for all the operation types that you require.
  * Review all common errors as well as errors that may occur for each operation, and ensure your application can handle them.
  * Verify the lengths and format for all attributes you send.
  * Use the details in this section to simulate different responses.
  
To use the test environment, you must post your requests to the following endpoint:

`https://api.test.netbanx.com/cardpayments/v1/accounts/<test account number>`

## Test Card Numbers

You can use the following test credit card numbers to test your integration.

|Card Type          |Card Number        |3D Secure Enabled |
| ---               | ---               | ---              |
|Visa               |4530910000012345   | No               |
|                   |4510150000000321   | No               |
|                   |4107857757053670   | Yes              |
|Visa Debit         |4206720389883775   | Yes              |
|Visa (Electron)    |4917480000000008   | No               |
|                   |4917484589897107   | No               |
|MasterCard         |5191330000004415   | No               |
|                   |5457490000008763   | No               |
|                   |5186750368967720   | Yes              |
|MasterCard Debit (Maestro)|6759950000000162 | No          |
|                   |5036150000001115   | No               |
|                   |5573560100022200   | Yes              |
|American Express   |370123456789017    | No               |
|                   |375529360131002    | No               |
|Discover           |6011234567890123   | No               |
|JCB                |3569990000000009   | No               | 


**Note:** You can use any of the card numbers to test the Card Payments API or the Hosted Payments API. If you want to test the 3D Secure API and then continue on with the resulting 3D Secure data to perform a test Purchase through the Card Payments API or Hosted Payments API, make sure you use a card number that is 3D Secure Enabled.

## Simulating Response Codes

You can return specific response codes by specifying different amounts under $1.00 in the request.

**Note:** For regular testing, do not use amounts less than $1.00 (100 in minor units) as this will trigger different decline or delay cases.

|Amount<b/>(Minor Units)|HTTP Status Code  |Error Code |Response|
|---        |---        |---        |---            |
|1          |200        |           |Approved |
|4          |402        |3015       |The bank has requested that you process the transaction manually by calling the card holder's credit card company.|
|5          |402        |3009       |Your request has been declined by the issuing bank.|
|6          |500        |1007       |Clearing house timeout (although the simulator returns immediately; if delay is desired, see amount 96).|
|11         |402        |3022       |The card has been declined due to insufficient funds.|
|12         |402        |3023       |Your request has been declined by the issuing bank due to its proprietary card activity regulations.|
|13         |402        |3024       |Your request has been declined because the issuing bank does not permit the transaction for this card.|
|20         |500        |1007       |An internal error occurred.|
|23         |402        |4002       |The transaction was declined by our Risk Management department.|
|24         |402        |3007       |Your request has failed the AVS check.|
|25         |402        |4001       |The card number or email address associated with this transaction is in our negative database.|
|90         |200        |           |Approved with 5-second delay|
|91         |200        |           |Approved with 10-second delay|
|92         |200        |           |Approved with 15-second delay|
|93         |200        |           |Approved with 20-second delay|
|94         |200        |           |Approved with 25-second delay|
|95         |200        |           |Approved with 30-second delay|
|96         |500        |1007       |Declined with 35-second delay. Transaction timed out after 30 seconds.|
|100        |200        |           |Approved|

**Example Request**

```apib
            cURL -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d ' {
                     "merchantRefNum" : "demosimulate-2",
                     "amount" : 4,
                     "settleWithAuth":true,
                     "card" : {
                       "cardNum" : "4111111111111111",
                       "cardExpiry":{
                         "month":2,
                         "year":2017
                        },
                        "cvv":123
                      },
                      "billingDetails":{
                         "street":"100 Queen Street West",
                         "city":"Toronto",
                         "state":"ON",             
                         "country":"CA",
                         "zip":"M5H 2N2"
                      }
                    } '
```

**Example Response**

```apib
            {
               "links":[
                  {
                     "rel":"self",
                     "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/41745f5d-842b-4a3a-bee5-fc558e566f2f"
                  }
               ],
               "id":"41745f5d-842b-4a3a-bee5-fc558e566f2f",
               "merchantRefNum":"demosimulate-2",
               "error":{
                  "code":"3015",
                  "message":"The bank has requested that you process the transaction manually by calling the cardholder's credit card company."
               },
               "riskReasonCode":[
                  1003
               ],
               "cvvVerification":"MATCH"
            }
```            

## Simulating AVS Responses

By default, all transactions will have an AVS response of "MATCH" (address information matches). In order to simulate a different response, add a single letter code from the table below in front of the value you include for the street parameter.

|Prefix |AVS Code           |Explanation    |
|---    |---                |---            |
|X      |MATCH              |Both the address and zip code match|
|A      |MATCH_ADDRESS_ONLY |Address matches, but zip code does not|
|Z      |MATCH_ZIP_ONLY     |Zip code matches, but address does not|
|N      |NO_MATCH           |No part of the address matches|
|U      |NOT_PROCESSED      |Address information is unavailable |
|Q      |UNKNOWN            |Unknown response from issuer/bank |

**Example Request**

```apib
            cURL -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths  \
            -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
            -H 'Content-Type: application/json'  \ 
            -d ' {
                     "merchantRefNum" : "demo-1b",
                     "amount" : 10098,
                     "settleWithAuth":true,
                     "card" : {
                       "cardNum" : "4111111111111111",
                       "cardExpiry":{
                         "month":2,
                         "year":2017
                        },
                        "cvv":123
                      },
                      "billingDetails":{
                         "street":"Z 100 Queen Street West",
                         "city":"Toronto",
                         "state":"ON",
                         "country":"CA",
                         "zip":"M5H 2N2"
                      }
                    }'
```

**Example Response**

```apib
            {
              "links":[
                {
                  "rel":"settlement",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/09275749-7b1a-4162-b130-3f3ab6c87734"
                },
                {
                  "rel":"self",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/09275749-7b1a-4162-b130-3f3ab6c87734"
                }
              ],
              "id":"09275749-7b1a-4162-b130-3f3ab6c87734",
              "merchantRefNum":"demo-1b",
              "txnTime":"2014-06-02T18:13:32Z",
              "status":"COMPLETED",
              "amount":10098,
              "settleWithAuth":true,
              "availableToSettle":0,
              "card":{
                "type":"VI",
                "lastDigits":"1111",
                "cardExpiry":{
                  "month":2,
                  "year":2017
                }
              },
              "authCode":"102392",
              "billingDetails":{
                "street":"Z 100 Queen Street West",
                "city":"Toronto",
                "state":"ON",
                "country":"CA",
                "zip":"M5H2N2"
              },
              "merchantDescriptor":{
                "dynamicDescriptor":"Test",
                "phone":"123-1234123"
              },
              "currencyCode":"CAD",
              "avsResponse":"MATCH_ZIP_ONLY",
              "cvvVerification":"MATCH",
              "settlements":[
                {
                  "links":[
                    {
                      "rel":"self",
                      "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/09275749-7b1a-4162-b130-3f3ab6c87734"
                    }
                  ],
                  "id":"09275749-7b1a-4162-b130-3f3ab6c87734",
                  "merchantRefNum":"demo-1b",
                  "txnTime":"2014-06-02T18:13:32Z",
                  "status":"PENDING",
                  "amount":10098,
                  "availableToRefund":10098
                }
              ]
            }
```            

## Simulating CVV Responses

In order to simulate a specific card security code response, provide a CVV value from the table below with your transaction.

|CVV Value |CVV Response Code |Description     |
|---       |---               |---             |
|111       |MATCH             |Match           |
|222       |NOT_PROCESSED     |Not processed   |
|555       |UNKNOWN           |Unknown response|
|666       |NO_MATCH          |No match        |

**Example Request**

```apib
            cURL -X POST https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths \
              -u devcentre322:B-qa2-0-53625f86-302c021476f52bdc9deab7aea876bb28762e62f92fc6712d0214736abf501e9675e55940e83ef77f5c304edc7968 \
              -H 'Content-Type: application/json' \
              -d ' {
                     "merchantRefNum":"demo-1c",
                     "amount":10098,
                     "settleWithAuth":true,
                     "card" : {
                       "cardNum":"4111111111111111",
                       "cardExpiry":{
                         "month":2,
                         "year":2017
                        },
                        "cvv":666
                      },
                      "billingDetails":{
                         "street":"100 Queen Street West",
                         "city":"Toronto",
                         "state":"ON",             
                         "country":"CA",
                         "zip":"M5H 2N2"
                      }
                    } '
```

**Example Response**

```apib
            {
              "links":[
                {
                  "rel":"settlement",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/cbb6471f-720c-407d-8b4c-0aa03fc41e23"
                },
                {
                  "rel":"self",
                  "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/auths/cbb6471f-720c-407d-8b4c-0aa03fc41e23"
                }
              ],
              "id":"cbb6471f-720c-407d-8b4c-0aa03fc41e23",
              "merchantRefNum":"demo-1c",
              "txnTime":"2014-06-02T18:22:21Z",
              "status":"COMPLETED",
              "amount":10098,
              "settleWithAuth":true,
              "availableToSettle":0,
              "card":{
                "type":"VI",
                "lastDigits":"1111",
                "cardExpiry":{
                  "month":2,
                  "year":2017
                }
              },
              "authCode":"102429",
              "billingDetails":{
                "street":"100 Queen Street West",
                "city":"Toronto",
                "state":"ON",
                "country":"CA",
                "zip":"M5H2N2"
              },
              "merchantDescriptor":{
                "dynamicDescriptor":"Test",
                "phone":"123-1234123"
              },
              "currencyCode":"CAD",
              "avsResponse":"MATCH",
              "cvvVerification":"NO_MATCH",
              "settlements":[
                {
                  "links":[
                    {
                      "rel":"self",
                      "href":"https://api.test.netbanx.com/cardpayments/v1/accounts/89987201/settlements/cbb6471f-720c-407d-8b4c-0aa03fc41e23"
                    }
                  ],
                  "id":"cbb6471f-720c-407d-8b4c-0aa03fc41e23",
                  "merchantRefNum":"demo-1c",
                  "txnTime":"2014-06-02T18:22:21Z",
                  "status":"PENDING",
                  "amount":10098,
                  "availableToRefund":10098
                }
              ]
            }
```            

# ISO Standards

<a name="currencycodes"></a>
## Currency Codes

|Currency           |Code   |
|---                |---    |
|Argentine Peso     |ARS    |
|Australian Dollar  |AUD    |
|Baht               |THB    |
|Brazilian Real     |BRL    |
|Bulgarian Lev      |BGN    |
|Canadian Dollar    |CAD    |
|Czech Koruna       |CZK    |
|Danish Krone       |DKK    |
|Euro               |EUR    |
|Forint             |HUF    |
|Hong Kong Dollar   |HKD    |
|Iceland Krona      |ISK    |
|Japanese Yen       |JPY    |
|Mexican Peso       |MXN    |
|New Israeli Shekel |ILS    |
|New Leu            |RON    |
|New Taiwan Dollar  |TWD    |
|New Zealand Dollar |NZD    |
|Norwegian Krone    |NOK    |
|Pound Sterling     |GBP    |
|Rand               |ZAR    |
|Singapore Dollar   |SGD    |
|Swedish Krona      |SEK    |
|Swiss Franc        |CHF    |
|US Dollar          |USD    |
|Zloty              |PLN    |

<a name="provincecodes"></a>
## Province Codes

|Province               |Code   |
|---                    |---    |
|Alberta                |AB     |
|British Columbia       |BC     |
|Manitoba               |MB     |
|New Brunswick          |NB     |
|Newfoundland           |NL     |
|Nova Scotia            |NS     |
|Northwest Territories  |NT     |
|Nunavut                |NU     |
|Ontario                |ON     |
|Prince Edward Island   |PE     |
|Quebec                 |QC     |
|Saskatchewan           |SK     |
|Yukon                  |YT     |

<a name="statecodes"></a>
## State Codes

|State                  |Code   |
|---                    |---    |
|Alabama                |AL     |
|Alaska                 |AK     |
|American Samoa         |AS     |
|Arizona                |AZ     |
|Arkansas               |AR     |
|Armed Forces Americas  |AA     |
|Armed Forces Europe    |AE     |
|Armed Forces Pacific   |AP     |
|California             |CA     |
|Colorado               |CO     |
|Connecticut            |CT     |
|Delaware               |DE     |
|District of Columbia   |DC     |
|Florida                |FL     |
|Georgia                |GA     |
|Guam                   |GU     |
|Hawaii                 |HI     |
|Idaho                  |ID     |
|Illinois               |IL     |
|Indiana                |IN     |
|International          |IT     |
|Iowa                   |IA     |
|Kansas                 |KS     |
|Kentucky               |KY     |
|Louisiana              |LA     |
|Maine                  |ME     |
|Maryland               |MD     |
|Massachusetts          |MA     |
|Michigan               |MI     |
|Minnesota              |MN     |
|Mississippi            |MS     |
|Missouri               |MO     |
|Montana                |MT     |
|Nebraska               |NE     |
|Nevada                 |NV     |
|New Hampshire          |NH     |
|New Jersey             |NJ     |
|New Mexico             |NM     |
|New York               |NY     |
|North Carolina         |NC     |
|North Dakota           |ND     |
|Northern Mariana Is.   |MP     |
|Ohio                   |OH     |
|Oklahoma               |OK     |
|Oregon                 |OR     |
|Palau                  |PW     |
|Pennsylvania           |PA     |
|Puerto Rico            |PR     |
|Rhode Island           |RI     |
|South Carolina         |SC     |
|South Dakota           |SD     |
|Tennessee              |TN     |
|Texas                  |TX     |
|U.S. Virgin Islands    |VI     |
|United States Federal  |US     |
|Utah                   |UT     |
|Vermont                |VT     |
|Virginia               |VA     |
|Washington             |WA     |
|West Virginia          |WV     |
|Wisconsin              |WI     |
|Wyoming                |WY     |


<a name="countrycodes"></a>
## Country Codes
| **Country**                       | **Code** |
|---                                |---       |
| Afghanistan                       | AF |
| Åland Islands                     | AX |
| Albania                           | AL |
| Algeria                           | DZ |
| American Samoa                    | AS |
| Andorra                           | AD |
| Angola                            | AO |
| Anguilla                          | AI |
| Antarctica                        | AQ |
| Antigua and Barbuda               | AG |
| Argentina                         | AR |
| Armenia                           | AM |
| Aruba                             | AW |
| Australia                         | AU |
| Austria                           | AT |
| Azerbaijan                        | AZ |
| Bahamas                           | BS |
| Bahrain                           | BH |
| Bangladesh                        | BD |
| Barbados                          | BB |
| Belarus                           | BY |
| Belgium                           | BE |
| Belize                            | BZ |
| Benin                             | BJ |
| Bermuda                           | BM |
| Bhutan                            | BT |
| Bolivia                           | BO |
| Bonaire, Sint Eustatius and Saba  | BQ |
| Bosnia and Herzegovina            | BA |
| Botswana                          | BW |
| Bouvet Island                     | BV |
| Brazil                            | BR |
| British Indian Ocean Territory    | IO |
| Brunei Darussalam                 | BN |
| Bulgaria                          | BG |
| Burkina Faso                      | BF |
| Burundi                           | BI |
| Cambodia                          | KH |
| Cameroon                          | CM |
| Canada                            | CA |
| Cape Verde                        | CV |
| Cayman Islands                    | KY |
| Central African Republic          | CF |
| Chad                              | TD |
| Chile                             | CL |
| China                             | CN |
| Christmas Island                  | CX |
| Cocos (Keeling) Islands           | CC |
| Colombia                          | CO |
| Comoros                           | KM |
| Congo                             | CG |
| Congo, Democratic Republic of     | CD |
| Cook Islands                      | CK |
| Costa Rica                        | CR |
| Côte D’Ivoire                     | CI |
| Croatia                           | HR |
| Cuba                              | CU |
| Curaçao                           | CW |
| Cyprus                            | CY |
| Czech Republic                    | CZ |
| Denmark                           | DK |
| Djibouti                          | DJ |
| Dominica                          | DM |
| Dominican Republic                | DO |
| Ecuador                           | EC |
| Egypt                             | EG |
| El Salvador                       | SV |
| Equatorial Guinea                 | GQ |
| Eritrea                           | ER |
| Estonia                           | EE |
| Ethiopia                          | ET |
| Falkland Islands                  | FK |
| Faroe Islands                     | FO |
| Fiji                              | FJ |
| Finland                           | FI |
| France                            | FR |
| French Guiana                     | GF |
| French Polynesia                  | PF |
| French Southern Territories       | TF |
| Gabon                             | GA |
| Gambia                            | GM |
| Georgia                           | GE |
| Germany                           | DE |
| Ghana                             | GH |
| Gibraltar                         | GI |
| Greece                            | GR |
| Greenland                         | GL |
| Grenada                           | GD |
| Guadeloupe                        | GP |
| Guam                              | GU |
| Guatemala                         | GT |
| Guernsey                          | GG |
| Guinea                            | GN |
| Guinea-Bissau                     | GW |
| Guyana                            | GY |
| Haiti                             | HT |
| Heard and McDonald Islands        | HM |
| Honduras                          | HN |
| Hong Kong                         | HK |
| Hungary                           | HU |
| Iceland                           | IS |
| India                             | IN |
| Indonesia                         | ID |
| Iran  (Islamic Republic of)       | IR |
| Iraq                              | IQ |
| Ireland                           | IE |
| Isle of Man                       | IM |
| Israel                            | IL |
| Italy                             | IT |
| Jamaica                           | JM |
| Japan                             | JP |
| Jersey                            | JE |
| Jordan                            | JO |
| Kazakhstan                        | KZ |
| Kenya                             | KE |
| Kiribati                          | KI |
| Korea, Democratic People’s Republic | KP |
| Korea, Republic of                | KR |
| Kuwait                            | KW |
| Kyrgyzstan                        | KG |
| Lao People’s Democratic Republic  | LA |
| Latvia                            | LV |
| Lebanon                           | LB |
| Lesotho                           | LS |
| Liberia                           | LR |
| Libyan Arab Jamahiriya            | LY |
| Liechtenstein                     | LI |
| Lithuania                         | LT |
| Luxembourg                        | LU |
| Macau                             | MO |
| Macedonia                         | MK |
| Madagascar                        | MG |
| Malawi                            | MW |
| Malaysia                          | MY |
| Maldives                          | MV |
| Mali                              | ML |
| Malta                             | MT |
| Marshall Islands                  | MH |
| Martinique                        | MQ |
| Mauritania                        | MR |
| Mauritius                         | MU |
| Mayotte                           | YT |
| Mexico                            | MX |
| Micronesia, Federated States of   | FM |
| Moldova, Republic of              | MD |
| Monaco                            | MC |
| Mongolia                          | MN |
| Montenegro                        | ME |
| Montserrat                        | MS |
| Morocco                           | MA |
| Mozambique                        | MZ |
| Myanmar                           | MM |
| Namibia                           | NA |
| Nauru                             | NR |
| Nepal                             | NP |
| New Caledonia                     | NC |
| New Zealand                       | NZ |
| Nicaragua                         | NI |
| Niger                             | NE |
| Nigeria                           | NG |
| Niue                              | NU |
| Norfolk Island                    | NF |
| Northern Mariana Islands          | MP |
| Norway                            | NO |
| Oman                              | OM |
| Pakistan                          | PK |
| Palau                             | PW |
| Palestinian Territory, Occupied   | PS |
| Panama                            | PA |
| Papua New Guinea                  | PG |
| Paraguay                          | PY |
| Peru                              | PE |
| Philippines                       | PH |
| Pitcairn                          | PN |
| Poland                            | PL |
| Portugal                          | PT |
| Puerto Rico                       | PR |
| Qatar                             | QA |
| Reunion                           | RE |
| Romania                           | RO |
| Russian Federation                | RU |
| Rwanda                            | RW |
| Saint Barthélemy                  | BL |
| Saint Helena                      | SH |
| Saint Kitts and Nevis             | KN |
| Saint Lucia                       | LC |
| Saint Martin                      | MF |
| Saint Vincent and the Grenadines  | VC |
| Samoa                             | WS |
| San Marino                        | SM |
| Sao Tome and Principe             | ST |
| Saudi Arabia                      | SA |
| Senegal                           | SN |
| Serbia                            | RS |
| Seychelles                        | SC |
| Sierra Leone                      | SL |
| Singapore                         | SG |
| Sint Maarten                      | SX |
| Slovakia (Slovak Republic)        | SK |
| Slovenia                          | SI |
| Solomon Islands                   | SB |
| Somalia                           | SO |
| South Africa                      | ZA |
| South Georgia and the South Sandwich Islands | GS |
| South Sudan                       | SS |
| Spain                             | ES |
| Sri Lanka                         | LK |
| St. Pierre and Miquelon           | PM |
| Sudan                             | SD |
| Suriname                          | SR |
| Svalbard and Jan Mayen Islands    | SJ |
| Swaziland                         | SZ |
| Sweden                            | SE |
| Switzerland                       | CH |
| Syrian Arab Republic              | SY |
| Taiwan                            | TW |
| Tajikistan                        | TJ |
| Tanzania, United Republic of      | TZ |
| Thailand                          | TH |
| The Netherlands                   | NL |
| Timor-Leste                       | TL |
| Togo                              | TG |
| Tokelau                           | TK |
| Tonga                             | TO |
| Trinidad and Tobago               | TT |
| Tunisia                           | TN |
| Turkey                            | TR |
| Turkmenistan                      | TM |
| Turks and Caicos Islands          | TC |
| Tuvalu                            | TV |
| Uganda                            | UG |
| Ukraine                           | UA |
| United Arab Emirates              | AE |
| United Kingdom                    | GB |
| United States                     | US |
| United States Minor Outlying Islands | UM |
| Uruguay                           | UY |
| Uzbekistan                        | UZ |
| Vanuatu                           | VU |
| Vatican City State (Holy See)     | VA |
| Venezuela                         | VE |
| Vietnam                           | VN |
| Virgin Islands (British)          | VG |
| Virgin Islands (U.S.)             | VI |
| Wallis and Futuna Islands         | WF |
| Western Sahara                    | EH |
| Yemen                             | YE |
| Zambia                            | ZM |
| Zimbabwe                          | ZW |

# Complex JSON Objects

<a name="accorddobject"></a>
## accordD
|Element            |Type                       |Required       |Description                        |
|---                |---                        |---            |---       |
|financingType      |string                     |Yes            |This is the type of financing offered.<ul><li>DEFERRED_PAYMENT &ndash; Deferred payment financing</li><li>EQUAL_PAYMENT &ndash; Equal payment financing</li></ul>|
|plan               |string<br/>`length<=3`     |Yes            |This is the plan number for this financing transaction.|
|gracePeriod        |number<br/>`max=99`        |               |This is the grace period, in months, associated with deferred payment transactions.|
|term               |number<br/>`max=99`        |               |This is the number of payments, in months, for equal payment transactions.|

```apib
{
    "accordD":{
    "financingType":"DEFERRED_PAYMENT",
    "plan":"123",
    "gracePeriod":"12"
    }
}
```

<a name="acquirerresponseobject"></a>
## acquirerResponse

These are raw results returned by the acquirer.

**Generic**

|Element            |Type       |Description                                                    |
|---                |---        |---                                                        |
|code               |string     |This is acquirer identification code, such as DJN, CRX, etc.|
|responseCode       |string     |This is the raw response returned by the acquirer.         |
|avsCode            |string     |This is the raw AVS code returned by the acquirer.     |
|balanceResponse    |string     |This is the balance remaining on a gift card, if a gift card was used for the original transaction.|

**Desjardins (DJN)**

|Element            |Type       |Description                        |
|---                |---        |---            |
|batchNumber        |string     |This is the batch number.|
|effectiveDate      |string     |This is the date of the bank deposit associated with the transaction.|
|financingType      |string     |This is the type of financing offered.|
|gracePeriod        |string     |This is the grace period, in months, associated with deferred payment transactions.|
|plan               |string     |This is the plan number for this financing transaction.|
|seqNumber          |string     |This is the merchant's sequence number.|
|term               |string     |This is the number of payments, in months, for equal payment transactions.|
|terminalId         |string     |This is the merchant's terminal ID.|

**Credorax (CRX)**

|Element            |Type       |Description        |
|---                |---        |---        |
|responseId         |string     |This is the response ID assigned by Credorax. |
|requestId          |string     |This is the request ID assigned by NETBANX. |
|description        |string     |This is a description of the response. |
|authCode           |string     |This is the authorization code.  |
|txnDateTime        |string     |This is the transaction date and time. |
|referenceNbr       |string     |Bank net transaction Id/Merch Tran Ref |
|responseReasonCode |string     |This is the raw response reason code returned by Credorax.|
|cvv2Result         |string     |This is the raw cvv2 result code. |

**NETBANX Acquirer Gateway (NAG)**

|Element            |Type       |Description        |
|---                |---        |---        |
|mid                |string     |This is the acquirer MID that was sent to the clearing house.|

```apib
{
  "acquirerResponses":{
    "code":"CRX",
    "responseCode":"0",
    "avsCode":"M",
    "responseId":"625996",
    "requestId":"2263",
    "referenceNbr":"315312161910",
    "description":"Transaction has been executed successfully",
    "authCode":"026189",
    "txnDateTime":"11/11/2013 at 12:16:19 EST",
    "responseReasonCode":"00",
    "cvv2Result":"M"
}
```

<a name="authenticationobject"></a>
## authentication

|Element            |Type                           |Description                        |
|---                |---                            |---                                |
|eci                |number<br/>`length=1-10`       |This is the Electronic Commerce Indicator code, which gets returned by the card issuer indicating whether the cardholder was successfully authenticated. <br/>**Visa**<ul><li>5 &ndash; Identifies a successfully authenticated transaction.</li><li>6 &ndash; Identifies an attempted authenticated transaction.</li><li>7 &ndash; Identifies a non-authenticated transaction.</li></ul><br/>**MasterCard**<ul><li>1 &ndash; Identifies a non-authenticated transaction.</li><li>2 &ndash; Identifies a successfully authenticated transaction.</li></ul>|
|cavv               |string<br/>`length<=80`        |This is the Cardholder Authentication Verification Value, which gets returned by the card issuer, indicating that the transaction has been authenticated. This value should be appended to the authorization request signifying that the transaction has been successfully authenticated.| 
|xid                |string<br/>`length<=40`        |This is the transaction identifier returned by the card issuer.|
|threeDEnrollment   |string                         |This indicates whether or not the cardholder is enrolled in 3D Secure.<ul><li>Y &ndash; Authentication is available</li><li>N &ndash; Cardholder is not enrolled</li><li>U &ndash; Authentication is unavailable</li></ul>|
|threeDResult       |string                         |This indicates the outcome of the authentication.<ul><li>Y &ndash; The cardholder successfully authenticated with their card issuer.</li><li>A &ndash; The cardholder authentication was attempted.</li>N &dash; The cardholder failed to authenticate with their card issuer.</li><li>U &ndash; Authentication with the card issuer was unavailable.</li><li>E &ndash; An error occurred during authentication.</li></ul>|
|signatureStatus    |string                         |This is the 3D Secure signature verification result value.<ul><li>Y &ndash; All transaction and signature checks satisfied.</li><li>N &ndash; At least one transaction or signature check failed.</li></ul>|

```apib
{
  "authentication":{
    "eci":5,
    "cavv":"AAABCIEjYgAAAAAAlCNiENiWiV+=",
    "xid":"OU9rcTRCY1VJTFlDWTFESXFtTHU=",
    "threeDEnrollment":"Y",
    "threeDResult":"Y",
    "signatureStatus":"Y"
  }
}
```

<a name="authorizationobject"></a>
## auths

|Element            |Type                                   |Description                        |
|---                |---                                    |---                                |
|id                 |string <br/>`length<=36`               |This is the ID returned in the response. This ID can be used for future associated requests, e,g., Settlements.|
|merchantRefNum     |string <br/>`length<=255`              |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|amount             |number<br>`max=99999999999`            |This is the amount of the request, in minor units.For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.<br/>**Note:** If the merchant account is set up for a currency that has 3 decimal units, our system will half round up the least significant digit. Therefore, a transaction of 10.139 Tunisian dinar would be processed as 10.14.|
|settleWithAuth     |boolean                                |This indicates whether the request is an Authorization only (no Settlement), or a Purchase (Authorization and Settlement).<br/><ul><li>false &ndash; the request is not settled</li><li>true &ndash; the request is settled</li></ul><br/>**Note:** If the merchant wants to find out whether an authorization has been settled, they should check the *availableToSettle* element. If the amount is 0, the authorization has been fully settled.|
|preAuth            |boolean                                |This indicates whether the Authorization request should be sent as a Pre-Authorization.<br/>**Note:** You should use the *preAuth* element in cases where you are not sure that you can fully settle the Authorization within 4 days. Contact your account manager for more information.|
|availableToSettle  |number                                 |This is the amount of of the Authorization remaining to settle, in minor units.|
|childAccountNum    |string<br/>`length<=10`                |This is the child merchant account number. It is returned only if the transaction was processed via a master account.|
|card               |[card](#cardobject)                    |These are the details of the card used.|
|authentication     |[authentication](#authenticationobject)|These are 3D Secure details.|
|authCode           |string<br/>`length<=50`                |This is the Authorization code assigned by the issuing bank and returned in the response.|
|profile            |[profile](#profileobject)              |These are some details about the customer.|
|billingDetails     |[billingDetails](#billingdetailsobject)|These are the billing details for the request.|
|shippingDetails    |[shippingDetails](#shippingdetailsobject) |These are the shipping details for the request.|
|recurring          |string                                 |This indicates whether this is an initial or repeat transaction for a customer for whom you will be processing recurring transactions. The Recurring Indicator is used to identify transactions that are eligible for repeat processing. The merchant should identity the initial transaction processed with full billing information including the card security code (CVV) by setting the recurring indicator to “INITIAL”. Subsequent charges to the same card can be identified with the recurring indicator set to “RECURRING”. For these transactions the card security code is not required and could not be passed in because card regulations do not allow merchants to store it.<ul><li>INITIAL</li><li>RECURRING</li></ul><br/>**Note:** Not all processing gateways support this parameter. Contact your account manager for more information.|
|customerIp         |string<br/>`length<=39`                |This is the customer's IP address.|
|dupCheck           |boolean                                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request.<br/>**Note:** This value defaults to *true*.|
|keywords           |array<br/>`length<=255`                |This value can be any text the merchant wants to use, e.g., for reporting purposes in the merchant back office. For example, the merchant could use this as a tag to identify the transaction or the product purchased at their site.<br/>**Note:** The maximum number of keywords allowed in a request is 10.|
|merchantDescriptor |[merchantDescriptor](#merchantdescriptorobject) |This is the merchant descriptor that will be displayed on the customer's card statement.<br/>**Note:** Not all processing gateways support this parameter. Contact your account manager for more information.|
|accordD            |[accordD](#accorddobject)              |These are parameters for financing plans supported for certain merchant configurations.<br/>Include this element only when instructed to do so by your account manager.|
|description        |string<br/>`length<=255`               |This is a description of the transaction, provided by the merchant.|
|masterPass         |[masterPass](#masterpassobject)        |This is the MasterPass information that is passed to the gateway on authorizations.|
|txnTime            |UTC formatted date                     |This is the date and time the request was processed. For example:<br/>2014-01-26T10:32:28Z|
|currencyCode       |string<br/>`length=3`                  |This is the currency of the merchant account, e.g., USD or CAD, returned in the request response. See [Currency Codes](#currencycodes)|
|avsResponse        |string                                 |This is the AVS response from the card issuer. Possible values are: <ul><li>MATCH  </li><li>MATCH_ADDRESS_ONLY</li><li>MATCH_ZIP_ONLY</li><li>NO_MATCH</li><li>NOT_PROCESSED</li><li>UNKNOWN</li></ul>|
|cvvVerification    |string                                 |This is the response to the *cvv* submitted with the transaction request. Possible values are:<ul><li>MATCH </li><li>NO_MATCH</li><li>NOT_PROCESSED</li><li>UNKNOWN</li></ul>|
|error              |[error](#errorobject)                  |       |
|status             |string                                 |This is the status of the transaction request. Possible values are:<ul><li>RECEIVED &ndash; Our system has received the request and is waiting for the downstream processor’s response.</li><li>COMPLETED &ndash; The transaction has been completed.</li><li>HELD &ndash; The transaction has been placed on hold due to risk considerations.</li><li>FAILED &ndash; The transaction failed, due to either an error or being declined.</li><li>CANCELLED &ndash; The authorization request has been fully reversed.</li></ul>|
|riskReasonCode     |array                                  |An array of integers is returned, displaying the detailed Risk reason codes if your transaction was declined. It is returned only if your account is configured accordingly.|
|acquirerResponse   |[acquirerResponse](#acquirerresponseobject) |This is the raw response returned by an acquirer. It is returned only if your account is configured accordingly.|
|visaAdditionalAuthData |[visaAdditionalAuthData](#visaadditionalauthdataobject) |This allows additional data to be included with a request using Visa as a payment method.|

```apib
{
  "id":"a02e52c7-c991-4418-966a-b62989cb0eae",
  "merchantRefNum":"ORDER_ID:1231",
  "amount":10098,
  "settleWithAuth":true,
  "availableToSettle":0,
  "card":{
    "type":"VI",
    "lastDigits":"1111",
    "cardExpiry":{
      "month":2,
      "year":2017
    },
    "billingDetails":{
        "zip":"M5H 2N2"
        },
  "authCode":"1234567890",
  "txnTime":"2013-12-14T15:12:18Z",
  "currencyCode":"USD",
  "avsResponse":"NOT_PROCESSED",
  "cvvVerification":"MATCH",
  "status":"COMPLETED",
  "settlements":[
    {
      "id":"a02e52c7-c991-4418-966a-b62989cb0eae",
      "merchantRefNum":"ORDER_ID:1231",
      "amount":10098,
      "availableToRefund":0,
      "txnTime":"2013-12-14T15:12:18Z",
      "status":"PENDING"
      }
    ]
    }
}    
```


<a name="billingdetailsobject"></a>
## billingDetails
|Element            |Type                           |Description                        |
|---                |---                            |---                                |
|street             |string<br/>`length<=50`          |This is the first line of the street address in the billing address.|
|street2            |string<br/>`length<=50`          |This is the second line of the street address in the billing address, if required (e.g., apartment number).|
|city               |string<br/>`length<=40`          |This is the city in the billing address.|
|state              |string<br/>`length<=40`          |See [Province Codes](#provincecodes) or [State Codes](#statecodes) for Canada or the United States.|
|country            |string<br/>`length=2`            |See [Country Codes](#countrycodes).|
|zip                |string<br/>`length<=10`          |This is the postal/zip code in the billing address.|
|phone              |string<br/>`length<=40`          |This is the customer's telephone number.|

```apib
{
  "billingDetails":{
    "street":"100 Queen Street West",
    "city":"Toronto",
    "state":"ON",
    "country":"CA",
    "zip":"M5H 2N2"
  }
}
```

<a name="cardobject"></a>
## card

When providing card information, merchants can provide either card details or a payment token for a customer already created in the system.

|Element            |Type                       |Required   |Description                        |
|---                |---                        |---                                    |---                                |
|paymentToken       |string <br/>`length<=80`   |Yes        |If the payment token is provided, no other card information is necessary. |

**OR**

|Element            |Type                       |Required   |Description                        |
|---                |---                        |---        |---                                |
|cardNum            |string <br/>`length=8-20`  |Yes        |This is the card number used for the request. |
|type               |enumeration                |           |This is type of card used for the request. Possible values are:<br/><ul><li>AM &ndash; American Express</li><li>DC &ndash; Discover</li><li>JC &ndash; JCB</li><li>MC &ndash; MasterCard</li><li>MD &ndash; Maestro</li><li>SF &ndash; Swiff</li><li>SO &ndash; Solo</li><li>VI &ndash; Visa</li><li>VD &ndash; Visa Debit</li><li>VE &ndash; Visa Electron</li></ul>
|lastDigits         |string<br/>`length=4`      |           |This is the last four digits of the card used for the request.|
|cardExpiry         |[cardExpiry](#cardexpiryobject)|Yes    |This is the card's expiry date.|
|cvv                |string<br/>`length=3-4`    |           |This is the 3- or 4-digit security code that appears on the card following the card number.|
|track1             |string                     |           |This is Track 1 information read from the card's magnetic stripe.|
|track2             |string                     |           |This is Track 2 information read from the card's magnetic stripe.|

```apib
{
    "card": {
        "cardNum": "4111111111111111",
        "cardExpiry": {
            "month": 2,
            "year": 2017
        }
    }
}
```

<a name="cardexpiryobject"></a>
## cardExpiry

|Element                 |Type                   |Required                  |Description|
|---                     |---                    |---                       |---|
|month                   |number<br/>`length=2`  |Required                  |This is the card expiry month. |
|year                    |number<br/>`length=4`  |Required                  |This is the card expiry year.|

```apib
{
    "cardExpiry":{
    "month": "12",
    "year": "2020"
    }
}
```

<a name="errorobject"></a>
## error
|Element            |Type       |Description                        |
|---                |---        |---                                |
|code               |string     |This is the error code.|
|message            |string     |This is a description of the error.|
|details            |array      |This is a detailed description.    |
|fieldErrors        |array      |This is a list of fields that have problems.|

```apib
{
   "error":{
      "code":5068,
      "message":"Either you submitted a request that is missing a mandatory field or the value of a field does not match the format expected.",
      "fieldErrors":[
         {
            "field":"recipientEmail",
            "error":"john@hi@you.c.c.c.c is not a valid email address."
         },
         {
            "field":"transaction.amount",
            "error":"A transaction amount is required."
         },
         {
            "field":"transaction.currency",
            "error":"Currency with value [USD] exceeds the maximum size of [3]."
         }
      ],
      "details":[
           "There are invalid or missing fields in your request."
        ]
   }
}
```

<a name="masterpassobject"></a>
## masterPass
|Element                |Type                       |Required       |Description    |
|---                    |---                        |---            |---            |
|payPassWalletIndicator |string<br/>`length<=3`     |Yes            |This wallet indicator value is returned by the wallet platform.|
|authenticationMethod   |string<br/>`length<=15`    |Yes            |This is the authentication method used to authenticate the cardholder at checkout. Valid values are:<ul><li>MERCHANT_ONLY</li><li>3DS</li></ul>|
|cardEnrollmentMethod   |string<br/>`length<=20`    |Yes            |This is the method by which the card was added to the wallet. Valid values are:<ul><li>MANUAL</li><li>DIRECT_PROVISIONED</li><li>3DS_MANUAL</li><li>NFC_TAP</li></ul>|
|masterCardAssignedId   |string<br/>`length<=50`    |Yes            |This value is assigned by MasterCard and represents programs associated directly with Maestro cards.|

```apib
{
    "masterPass":{
    "payPassWalletIndicator" : "101",
    "authenticationMethod" : "MERCHANT_ONLY",
    "cardEnrollmentMethod" : "MANUAL",
    "masterCardAssignedId" : "123"
    }
}
```

<a name="merchantdescriptorobject"></a>
## merchantDescriptor
|Element            |Type                       |Required   |Description                        |
|---                |---                        |---        |---                                |
|dynamicDescriptor  |string <br/>`length<=20`   |Yes        |This is a merchant descriptor that will be displayed on a customer’s card statement.|
|phone              |string <br/>`length<=13`   |           |This is the merchant’s phone number, which will be appended to the merchant descriptor on a customer’s card statement.|

```apib
{
    "merchantDescriptor":{
    "dynamicDescriptor":"OnlineStore",
    "phone":"12345678"
  }
}
```

<a name="originalcreditsobject"></a>
## originalcredits

|Element            |Type                                   |Description                        |
|---                |---                                    |---                                |
|id                 |string <br/>`length<=36`               |This is the ID returned in the response. This ID can be used for future associated requests.|
|merchantRefNum     |string <br/>`length<=255`              |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|amount             |number<br/>`max=99999999999`           |This is the amount of the request, in minor units.For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.<br/>**Note:** If the merchant account is set up for a currency that has 3 decimal units, our system will half round up the least significant digit.|
|childAccountNum    |string<br/>`length<=10`                |This is the child merchant account number. It is returned only if the transaction was processed via a master account.|
|card               |[card](#cardobject)                    |These are the details of the card used.|
|authCode           |string<br/>`length<=50`                |This is the Authorization code assigned by the issuing bank and returned in the response.|
|profile            |[profile](#profileobject)              |These are some details about the customer.|
|billingDetails     |[billingDetails](#billingdetailsobject)|These are the billing details for the request.|
|customerIp         |string<br/>`length<=39`                |This is the customer's IP address.|
|dupCheck           |boolean                                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request.<br/>**Note:** This value defaults to *true*.|
|description        |string<br/>`length<=255`               |This is a description of the transaction, provided by the merchant.|
|txnTime            |UTC formatted date                     |This is the date and time the request was processed. For example:<br/>2014-01-26T10:32:28Z|
|currencyCode       |string<br/>`length=3`                  |This is the currency of the merchant account, e.g., USD or CAD, returned in the request response. See [Currency Codes](#currencycodes)|
|error              |[error](#errorobject)                  |       |
|status             |string                                 |This is the status of the transaction request. Possible values are:<ul><li>RECEIVED &ndash; Our system has received the request and is waiting for the downstream processor’s response.</li><li>COMPLETED &ndash; The transaction has been completed.</li><li>PENDING &ndash; Our system has received the request but it has not yet been batched.</li><li>FAILED &ndash; The transaction failed, due to either an error or being declined.</li><li>CANCELLED &ndash; The authorization request has been fully reversed.</li></ul>|
|riskReasonCode     |array                                  |An array of integers is returned, displaying the detailed Risk reason codes if your transaction was declined. It is returned only if your account is configured accordingly.|
|acquirerResponse   |[acquirerResponse](#acquirerresponseobject) |This is the raw response returned by an acquirer. It is returned only if your account is configured accordingly.|

```apib
{
  "merchantRefNum":"merchant ABC-444",
  "amount":10098,
  "card":{
    "cardNum":"4111111111111111",
    "cardExpiry":{
      "month":2,
      "year":2017
    }
  },
  "profile":{
    "firstName":"Joe",
    "lastName":"Smith",
    "email":"Joe.Smith@canada.com"
  },
  "billingDetails":{
    "street":"100 Queen Street West",
    "city":"Toronto",
    "state":"ON",
    "country":"CA",
    "zip":"M5H 2N2"
  },
  "customerIp":"204.91.0.12",
  "description":"Winning payment from Loto 649"
}    
```

<a name="profileobject"></a>
## profile
|Element            |Type                       |Required   |Description    |
|---                |---                        |---        |---                                |
|firstName          |string <br/>`length<=80`   |           |This is the customer’s first name. |
|lastName           |string <br/>`length<=80`   |           |This is the customer's last name.  |
|email              |string <br/>`length<=255`  |           |This is the customer's email address. |

```apib
{    
    "profile": {
    "firstName": "Joe",
    "lastName": "Smith",
    "email": "Joe.Smith@canada.com"
    }
}
```

<a name="refundsobject"></a>
## refunds
|Element            |Type                                   |Description                        |
|---                |---                                    |---                                |
|id                 |string <br/>`length<=36`               |This is the ID returned in the response. This ID can be used for future associated requests.|
|merchantRefNum     |string <br/>`length<=255`              |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|amount             |number<br>`max=99999999999`            |This is the amount of the request, in minor units.For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.<br/>**Note:** If the merchant account is set up for a currency that has 3 decimal units, our system will half round up the least significant digit. Therefore, a transaction of 10.139 Tunisian dinar would be processed as 10.14.|
|childAccountNum    |string<br/>`length<=10`                |This is the child merchant account number. It is returned only if the transaction was processed via a master account.|
|dupCheck           |boolean                                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request.<br/>**Note:** This value defaults to *true*.|
|txnTime            |UTC formatted date                     |This is the date and time the request was processed. For example:<br/>2014-01-26T10:32:28Z|
|error              |[error](#errorobject)                  |       |
|status             |string                                 |This is the status of the transaction request. Possible values are:<ul><li>RECEIVED &ndash; Our system has received the request and is waiting for the downstream processor’s response.</li><li>COMPLETED &ndash; The transaction has been completed.</li><li>PENDING &ndash; Our system has received the request but it has not yet been batched.</li><li>FAILED &ndash; The transaction failed, due to either an error or being declined.</li><li>CANCELLED &ndash; The authorization request has been fully reversed.</li></ul>|
|riskReasonCode     |array                                  |An array of integers is returned, displaying the detailed Risk reason codes if your transaction was declined. It is returned only if your account is configured accordingly.|
|acquirerResponse   |[acquirerResponse](#acquirerresponseobject) |This is the raw response returned by an acquirer. It is returned only if your account is configured accordingly.|

```apib
{
    "merchantRefNum":"REFUND_ID:1231",
    "amount":10098
}
```

<a name="settlementsobject"></a>
## settlements
|Element            |Type                                   |Description                        |
|---                |---                                    |---                                |
|id                 |string <br/>`length<=36`               |This is the ID returned in the response. This ID can be used for future associated requests.|
|merchantRefNum     |string <br/>`length<=255`              |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|amount             |number<br/>`max=99999999999`           |This is the amount of the request, in minor units.For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.<br/>**Note:** If the merchant account is set up for a currency that has 3 decimal units, our system will half round up the least significant digit. Therefore, a transaction of 10.139 Tunisian dinar would be processed as 10.14.|
|availableToRefund  |number<br/>`max=99999999999`           |This is the amount of this settlement that is available to refund, in minor units.|
|childAccountNum    |string<br/>`length<=10`                |This is the child merchant account number. It is returned only if the transaction was processed via a master account.|
|txnTime            |UTC formatted date                     |This is the date and time the request was processed. For example:<br/>2014-01-26T10:32:28Z|
|error              |[error](#errorobject)                  |       |
|dupCheck           |boolean                                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request.<br/>**Note:** This value defaults to *true*.|
|status             |string                                 |This is the status of the transaction request. Possible values are:<ul><li>RECEIVED &ndash; Our system has received the request and is waiting for the downstream processor’s response.</li><li>PENDING &ndash; Our system has received the request but it has not yet been batched.</li><li>PROCESSING &ndash; The settlement batch has started.</li><li>COMPLETED &ndash; The transaction has been completed.</li><li>FAILED &ndash; The transaction failed, due to either an error or being declined.</li><li>CANCELLED &ndash; The transaction request has been cancelled.</li></ul>|
|riskReasonCode     |array                                  |An array of integers is returned, displaying the detailed Risk reason codes if your transaction was declined. It is returned only if your account is configured accordingly.|
|acquirerResponse   |[acquirerResponse](#acquirerresponseobject) |This is the raw response returned by an acquirer. It is returned only if your account is configured accordingly.|

```apib
{
    "merchantRefNum":"merchantRef_2014_04_11_05",
    "amount":100
}
```

<a name="shippingdetailsobject"></a>
## shippingDetails

|Element            |Type                       |Required   |Description |
|---                |---                        |---        |---        |
|carrier            |enumeration                |           |This is the shipment carrier. Possible values are:<ul><li>APC &ndash; APC Overnight</li><li>APS &ndash; Anpost</li><li>CAD &ndash; Canada Postal Service</li><li>DHL &ndash; DHL</li><li>FEX &ndash; Fedex</li><li>RML &ndash; Royal Mail</li><li>UPS &ndash; United Parcel Service</li><li>USPS &ndash; United States Postal Service</li><li>CLK &ndash; CityLink</li><li>EMS &ndash; EMS (US Postal Service)</li><li>NEX &ndash; Nexworldwide</li><li>OTHER</li></ul>|
|shipMethod         |enumeration                |           |This is the method of shipment. Possible values are:<ul><li>T &ndash; Next Day/Overnight</li><li>T &ndash; Two-Day Service</li><li>C &ndash; Lowest Cost</li><li>O &ndash; Other</li></ul>|
|recipientName      |string<br/>`length<=255`   |           |This is the name of the person receiving the goods.|
|street             |string<br/>`length<=50`    |           |This is the recipient's street address.|
|city               |string<br/>`length<=40`    |           |This is the city in which the recipient resides.|
|state              |string                     |           |See [Province Codes](#provincecodes) or [State Codes](#statecodes) for Canada or the United States.|
|country            |string                     |           |See [Country Codes](#countrycodes). |

```apib
{
  "shippingDetails":{
    "carrier":"UPS",
    "shipMethod":"N",
    "street":"100 Queen Street West",
    "city":"Toronto",
    "state":"ON",
    "country":"CA",
    "zip":"M5H 2N2"
  }
}
```

<a name="standalonecreditsobject"></a>
## standalonecredits

|Element            |Type                                   |Description                        |
|---                |---                                    |---                                |
|id                 |string <br/>`length<=36`               |This is the ID returned in the response. This ID can be used for future associated requests.|
|merchantRefNum     |string <br/>`length<=255`              |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|amount             |number<br/>`max=99999999999`           |This is the amount of the request, in minor units.For example, to process US $10.99, this value should be 1099. To process 1000 Japanese yen, this value should be 1000. To process 10.139 Tunisian dinar, this value should be 10139.<br/>**Note:** If the merchant account is set up for a currency that has 3 decimal units, our system will half round up the least significant digit.|
|childAccountNum    |string<br/>`length<=10`                |This is the child merchant account number. It is returned only if the transaction was processed via a master account.|
|card               |[card](#cardobject)                    |These are the details of the card used.|
|authCode           |string<br/>`length<=50`                |This is the Authorization code assigned by the issuing bank and returned in the response.|
|profile            |[profile](#profileobject)              |These are some details about the customer.|
|billingDetails     |[billingDetails](#billingdetailsobject)|These are the billing details for the request.|
|customerIp         |string<br/>`length<=39`                |This is the customer's IP address.|
|dupCheck           |boolean                                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request.<br/>**Note:** This value defaults to *true*.|
|description        |string<br/>`length<=255`               |This is a description of the transaction, provided by the merchant.|
|txnTime            |UTC formatted date                     |This is the date and time the request was processed. For example:<br/>2014-01-26T10:32:28Z|
|currencyCode       |string<br/>`length=3`                  |This is the currency of the merchant account, e.g., USD or CAD, returned in the request response. See [Currency Codes](#currencycodes)|
|error              |[error](#errorobject)                  |       |
|status             |string                                 |This is the status of the transaction request. Possible values are:<ul><li>RECEIVED &ndash; Our system has received the request and is waiting for the downstream processor’s response.</li><li>COMPLETED &ndash; The transaction has been completed.</li><li>PENDING &ndash; Our system has received the request but it has not yet been batched.</li><li>FAILED &ndash; The transaction failed, due to either an error or being declined.</li><li>CANCELLED &ndash; The authorization request has been fully reversed.</li></ul>|
|riskReasonCode     |array                                  |An array of integers is returned, displaying the detailed Risk reason codes if your transaction was declined. It is returned only if your account is configured accordingly.|
|acquirerResponse   |[acquirerResponse](#acquirerresponseobject) |This is the raw response returned by an acquirer. It is returned only if your account is configured accordingly.|

```apib
{
  "merchantRefNum":"merchant ABC-444",
  "amount":10098,
  "card":{
    "cardNum":"4111111111111111",
    "cardExpiry":{
      "month":2,
      "year":2017
    }
  },
  "profile":{
    "firstName":"Joe",
    "lastName":"Smith",
    "email":"Joe.Smith@canada.com"
  },
  "billingDetails":{
    "street":"100 Queen Street West",
    "city":"Toronto",
    "state":"ON",
    "country":"CA",
    "zip":"M5H 2N2"
  },
  "customerIp":"204.91.0.12",
  "description":"Refund without receipt"
}    
```

<a name="verificationsobject"></a>
## verifications

|Element            |Type                                   |Description                        |
|---                |---                                    |---                                |
|id                 |string <br/>`length<=36`               |This is the ID returned in the response. This ID can be used for future associated requests.|
|merchantRefNum     |string <br/>`length<=255`              |This is the merchant reference number created by the merchant and submitted as part of the request. It must be unique for each request.|
|childAccountNum    |string<br/>`length<=10`                |This is the child merchant account number. It is returned only if the transaction was processed via a master account.|
|card               |[card](#cardobject)                    |These are the details of the card used.|
|authCode           |string<br/>`length<=50`                |This is the Authorization code assigned by the issuing bank and returned in the response.|
|profile            |[profile](#profileobject)              |These are some details about the customer.|
|billingDetails     |[billingDetails](#billingdetailsobject)|These are the billing details for the request.|
|customerIp         |string<br/>`length<=39`                |This is the customer's IP address.|
|dupCheck           |boolean                                |This validates that this request is not a duplicate. A request is considered a duplicate if the *merchantRefNum* has already been used in a previous request.<br/>**Note:** This value defaults to *true*.|
|description        |string<br/>`length<=255`               |This is a description of the transaction, provided by the merchant.|
|txnTime            |UTC formatted date                     |This is the date and time the request was processed. For example:<br/>2014-01-26T10:32:28Z|
|currencyCode       |string<br/>`length=3`                  |This is the currency of the merchant account, e.g., USD or CAD, returned in the request response. See [Currency Codes](#currencycodes)|
|avsResponse        |string                                 |This is the AVS response from the card issuer. Possible values are: <ul><li>MATCH  </li><li>MATCH_ADDRESS_ONLY</li><li>MATCH_ZIP_ONLY</li><li>NO_MATCH</li><li>NOT_PROCESSED</li><li>UNKNOWN</li></ul>|
|cvvVerification    |string                                 |This is the response to the *cvv* submitted with the transaction request. Possible values are:<ul><li>MATCH </li><li>NO_MATCH</li><li>NOT_PROCESSED</li><li>UNKNOWN</li></ul>|
|error              |[error](#errorobject)                  |       |
|status             |string                                 |This is the status of the transaction request. Possible values are:<ul><li>RECEIVED &ndash; Our system has received the request and is waiting for the downstream processor’s response.</li><li>COMPLETED &ndash; The transaction has been completed.</li><li>FAILED &ndash; The transaction failed, due to either an error or being declined.</li></ul>|
|riskReasonCode     |array                                  |An array of integers is returned, displaying the detailed Risk reason codes if your transaction was declined. It is returned only if your account is configured accordingly.|
|acquirerResponse   |[acquirerResponse](#acquirerresponseobject) |This is the raw response returned by an acquirer. It is returned only if your account is configured accordingly.|

```apib
{
    "merchantRefNum": "merchant ABC-444",
    "card": {
        "cardNum": "4111111111111111",
        "cardExpiry": {
            "month": 2,
            "year": 2017
        },
        "cvv": "123"
    },
    "profile": {
        "firstName": "Joe",
        "lastName": "Smith",
        "email": "Joe.Smith@canada.com"
    },
    "billingDetails": {
        "street": "100 Queen Street West",
        "city": "Toronto",
        "state": "ON",
        "country": "CA",
        "zip": "M5H2N2"
    },
    "customerIp": "204.91.0.12",
    "description": "This is a test transaction"
}    
```

<a name="visaadditionalauthdataobject"></a>
## visaAdditionalAuthData

The recipient is deemed to be the person or party who has the contractual relationship with the merchant/financial institution. This may be different from the cardholder, e.g., in the case of a parent topping up a child's savings account. Therefore, the fields should not be collected on the same page as cardholder information, but instead be passed in the background from the merchant’s records.

**Note:** Include *recipientDateOfBirth* elements if your Merchant Category Code is 6012 and your registered trading address is in the United Kingdom. If you have any questions, contact your account manager. All fields are optional, however scheme fines may apply if data is consistently not supplied and chargebacks persist.

|Element                    |Type                       |Required   |Description                        |
|---                        |---                        |---        |---                                |
|recipientDateOfBirth.day   |number<br/>`length=2`      |           |This is the recipient's day of birth. |
|recipientDateOfBirth.month |number<br/>`length=2`      |           |This is the recipient's month of birth.|
|recipientDateOfBirth.year  |number<br/>`length=4`      |           |The is the recipient's year of birth.|
|recipientZip               |string<br/>`length<=10`    |           |This is the recipient‘s postcode.<br/>**Note:** The last 3 characters are not sent to the banking network.|
|recipientLastName          |string<br/>`length<=255`   |           |This is the recipient‘s last name.<br/>**Note:** Only the first 6 characters are sent to the banking network.|
|recipientAccountNumber     |string<br/>`length<=25`    |           |This is the recipient‘s account number, e.g., a loan agreement number or customer ID. In the case where the recipient account is a prepaid card, the card number may be sent in full.<br/>**Note:** Only the first 6 and last 4 characters are sent to the banking network and will be masked accordingly within the back office and any other reports, to comply with PCI regulations.|


```apib
{
    "visaAdditionalAuthData": {
        "recipientDateOfBirth": {
            "day": 29,
            "month": 1,
            "year": 2001
        },
        "recipientZip": "CB24 9AD",
        "recipientLastName": "Smith",
        "recipientAccountNumber": "ABC1234567890"
    }
}
```

# Error Summary

## Common Errors
|HTTP Status Code   |Error Code     |Description|
|---                |---            |---|
|500                |1000           |An internal error occurred.         |
|502                |1001           |An error occurred with the external processing gateway.|
|500                |1002           |An internal error occurred.            |
|500                |1003           |An internal error occurred.            |
|500                |1007           |An internal error occurred.            |
|500                |1008           |An internal error occurred.            |
|429                |1200           |The API call has been denied as it has exceeded the permissible call rate limit.|
|401                |5000           |Your merchant account authentication failed. Either your store ID/password are invalid or the IP address from which you are sending the transaction has not been authorized.|
|400                |5001           |The submitted currency code is invalid or your account does not support this currency.|
|400                |5003           |You submitted an invalid amount with your request.|
|400                |5004           |You submitted an invalid account type with your request.|
|400                |5005           |You submitted an invalid operation type with your request.|
|400                |5010           |The submitted country code is invalid.|
|400                |5016           |The merchant account you provided cannot be found.|
|400                |5017           |The merchant account you provided is disabled.|
|402                |5021           |Your transaction request has been declined.|
|400                |5023           |The request is not parseable.|
|409                |5031           |The transaction you have submitted has already been processed.|
|401                |5040           |Your merchant account is not configured for the transaction you attempted.|
|400                |5042           |The merchant reference number is missing or invalid or it exceeds the maximum permissible length.|
|400                |5068           |Either you submitted a request that is missing a mandatory field or the value of a field does not match the format expected.|
[...]
